html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

@media screen and (min-width: 992px) {
    .responsive {
        display: flex;
        justify-content: space-between;
    }

    /* Seleciona o menu dropdown quando ele é ativado pelo Bootstrap */
    .dropdown-menu[data-bs-popper] {
        left: auto !important;
        right: 0px !important;
        transform: translate(0px, 0px) !important;
        /* Ajuste os 40px conforme a altura do seu botão */
    }
}


@media screen and (max-width: 992px) {
    .navbar-nav {
        padding: 5px;
    }
}

.dropdown a[href]{
    text-decoration: none;
    color: white;
}

.dropdown-menu a[href]{
    color: black;
}

.erro-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a>i {
    margin-right: 5px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    /* Espaça os elementos */
    align-items: center;
    /* Centraliza verticalmente */
    padding: 20px;
    background-color: #212529;
    /* Cor de fundo */
    color: white;
}

.direitos {
    text-align: center;
    flex-grow: 1;
    /* Faz o texto ocupar o centro */
}

.redes-sociais {
    display: flex;
    gap: 15px;
    /* Espaço entre os ícones */
    justify-content: flex-end;
    /* Garante que fique na direita */
}

.redes-sociais img {
    width: 24px;
    height: 24px;
}

.redes-sociais>a>i {
    color: white;
}

/*[NOTICIAS] Efeito opcional de hover (pode colocar na sua tag <style> ou arquivo CSS)*/
.hover-zoom:hover {
    transform: translateY(-3px);
    border-color: #ffc107 !important; /* Muda a borda para amarelo/ouro no hover */
    box-shadow: 0 4px 15px #0B5ED7 !important;
}